In [1]:
pd.__version__                                             # version kontrolu ile pandas yüklenmiş mi kontrol ediyoruz
                                                           # yüklenmemişse hata veriyor

NameError: name 'pd' is not defined

In [ ]:
pip install pandas                                         # ilk kurulum pandas kütüphanesi install ediliyor bir kez yapılıyor

In [5]:
import pandas as pd                                        # import işlemi çalışma öncesi yapılır 
import numpy as np

In [6]:
liste=[1,5,9,11,15]

In [7]:
seri=pd.Series(data=liste)                                 # (data=liste) yerine sadece (liste) olarakta yazılabilir
# seri=pd.Series(liste)

In [8]:
seri                                                       # pd.Series ler index ile birlikte tutulur.

0     1
1     5
2     9
3    11
4    15
dtype: int64

In [9]:
type(seri)

pandas.core.series.Series

In [10]:
seri.ndim

1

In [11]:
seri.shape

(5,)

In [12]:
seri2=pd.Series(data=[[1,5,6],[3,5,9]])                     # kullanımda pek yok gormek için yaptık
# seri2=pd.Series([[1,5,6],[3,5,9]])

In [13]:
seri2

0    [1, 5, 6]
1    [3, 5, 9]
dtype: object

In [14]:
liste

[1, 5, 9, 11, 15]

In [15]:
df=pd.DataFrame(data=liste)                                 # pd.DataFrame ler index ile bulunur. sonuc tablo olarak çıkar

In [16]:
df

    0
0   1
1   5
2   9
3  11
4  15

In [17]:
df.shape

(5, 1)

In [18]:
seri.shape

(5,)

In [19]:
df2=pd.DataFrame(data=[[1,5,6],[3,5,9]]) 
# df2=pd.DataFrame([[1,5,6],[3,5,9]])

In [20]:
df2

   0  1  2
0  1  5  6
1  3  5  9

In [21]:
df2.shape

(2, 3)

In [22]:
df3=pd.DataFrame(data=[[1,5,6],[3,5,9]],index=["a","b"],columns=["x","y","z"])           # index ve columns isimleri atanabilir

In [23]:
df3

   x  y  z
a  1  5  6
b  3  5  9

In [24]:
df3.shape

(2, 3)

In [ ]:
# 2_gün

In [ ]:
import pandas as pd
import numpy as np

In [25]:
serii=pd.Series()                                              # boş bir seri üretir

C:\Users\honor\AppData\Local\Temp\ipykernel_9568\1698144881.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  serii=pd.Series()                                              # boş bir seri üretir

In [26]:
serii

Series([], dtype: float64)

# pd.Series üretme

In [ ]:
# listeden pd.Series üretme
# string den pd.Series üretme
# np.array den pd.Series üretme
# dictionary den pd.Series üretme
# scaler valueden den pd.Series üretme

## bir listeden pd.Series üretme

In [27]:
seri1=pd.Series([1,5,6])

In [28]:
seri1

0    1
1    5
2    6
dtype: int64

In [31]:
seri1.shape

(3,)

In [29]:
seri1.size                                                    # 3 satırdan oluşan bir pandas serisidir

3

In [30]:
seri1.dtype

dtype('int64')

In [32]:
type(seri1)

pandas.core.series.Series

In [36]:
seri1.index

RangeIndex(start=0, stop=3, step=1)

In [33]:
seri1.values                                                # pandas serisindeki değerleri array olarak verir

array([1, 5, 6], dtype=int64)

In [34]:
for i in seri1.values:                                      # pandas serisinin değerlerine for döngüsü ile ulaşabiliriz
    print(i)

1
5
6

## string bir değerden pd.Series üretme

In [37]:
string="hello world"

In [38]:
seri2=pd.Series(i for i in string)                             # list comprehension for dongusu

In [39]:
seri2

0     h
1     e
2     l
3     l
4     o
5
6     w
7     o
8     r
9     l
10    d
dtype: object

In [40]:
seri2.size

11

In [42]:
seri2.shape

(11,)

In [43]:
seri2.dtype

dtype('O')

In [44]:
type(seri2)

pandas.core.series.Series

In [52]:
seri2.index

RangeIndex(start=0, stop=11, step=1)

In [50]:
seri2.values

array(['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd'],
      dtype=object)

In [51]:
for i in seri2.values:                                         # pandas serisinin değerlerine for döngüsü ile ulaşabiliriz
    print(i)

h
e
l
l
o

w
o
r
l
d

## np.array den pd.Series üretme

In [53]:
data=np.array(["a","b","c"])

In [54]:
data

array(['a', 'b', 'c'], dtype='<U1')

In [55]:
seri3=pd.Series(data)

In [56]:
seri3

0    a
1    b
2    c
dtype: object

In [57]:
seri3.shape

(3,)

In [58]:
seri3.size

3

In [60]:
type(seri3)

pandas.core.series.Series

In [62]:
seri3.dtype

dtype('O')

In [63]:
seri3.index

RangeIndex(start=0, stop=3, step=1)

In [64]:
seri3.values

array(['a', 'b', 'c'], dtype=object)

In [65]:
for i in seri3.values:
    print(i)

a
b
c

In [66]:
data1=np.arange(1,20,3)

In [67]:
data1

array([ 1,  4,  7, 10, 13, 16, 19])

In [68]:
seri33=pd.Series(data1, index=["a","b","c","d","e","f","g"])           # pd.Series üretirken index değerleri verilebilir

In [71]:
seri33

a     1
b     4
c     7
d    10
e    13
f    16
g    19
dtype: int32

## dictionary (sözlük) ten pd.Series üretme

In [72]:
sozluk={"a":1,"b":2,"c":3}                             # sozlukten pd.Series üretirken key değerleri index i, value değerleri 
                                                       # sütunu oluşturur

In [73]:
seri4=pd.Series(sozluk)

In [74]:
seri4

a    1
b    2
c    3
dtype: int64

In [78]:
seri4.keys

<bound method Series.keys of a    1
b    2
c    3
dtype: int64>

In [79]:
seri4.values

array([1, 2, 3], dtype=int64)

In [82]:
sozluk

{'a': 1, 'b': 2, 'c': 3}

In [80]:
seri44=pd.Series(sozluk, index=["a","b","d"])         # sozluk ten pd.Series üretirken index değerleri tanımlanırsa bu index
                                                      # lerin sozlukteki karşılıkları alınır karşılığı olmayanlar nan yazılır

In [81]:
seri44

a    1.0
b    2.0
d    NaN
dtype: float64

In [83]:
sozluk2={"std1":"mustafa","std2":"ayse","std3":"mahir"}

In [84]:
pd.Series(sozluk2)

std1    mustafa
std2       ayse
std3      mahir
dtype: object

## scalaer value (standart sabit bir değişken) den pd.Series üretme

In [85]:
seri5=pd.Series(99, index=[i for i in range(3,30,3)])     # index değeri verilmek zorundadır. index kadar sabit sayıdan oluşan 
                                                          # sütun üretir

In [86]:
seri5

3     99
6     99
9     99
12    99
15    99
18    99
21    99
24    99
27    99
dtype: int64

In [87]:
seri55=pd.Series(55, index=[np.arange(7)])

In [88]:
seri55

0    55
1    55
2    55
3    55
4    55
5    55
6    55
dtype: int64

In [89]:
myIndex=np.arange(0,30,4)

In [90]:
seri555=pd.Series(66,index=myIndex)          # daha once oluşturulmuş bir array, liste vb index olarak tanımlanabilir.
                                             # aynı sekılde 66 yerıne sabıt bır değişkende başka bir yerde tanımlanmış olabilir

In [91]:
seri555

0     66
4     66
8     66
12    66
16    66
20    66
24    66
28    66
dtype: int64

# pd.Series lerde slice indexing / label indexing

In [92]:
seri6=pd.Series([1,3,5,7,9,11], index=["a","b","c","x","y","z"])

In [ ]:
# index yada label index i verilenleri slicing ile dilimleme

In [93]:
seri6

a     1
b     3
c     5
x     7
y     9
z    11
dtype: int64

In [94]:
seri6[2]                       # label index degerler atanmış olsada arka planda yer alan index degerleri ile de slicing yapılır

5

In [95]:
seri6["c"]                     # label index değer ilede slicing yapılır

5

In [ ]:
# belirli bir aralıkta yer alanları slicing ile dilimleme

In [96]:
seri6

a     1
b     3
c     5
x     7
y     9
z    11
dtype: int64

In [97]:
seri6[1:4]                      # bir aralık slicing yapılmak istendiğinde normal start,stop mantığı işler

b    3
c    5
x    7
dtype: int64

In [98]:
seri6["b":"y"]                  # label indexing de bir aralık slicing yapılmak istendiğinde start,stop mantığında çalışmaz
                                # her iki index değeri dahil olmak üzere aralarındakini alır

b    3
c    5
x    7
y    9
dtype: int64

In [99]:
seri6[2:]

c     5
x     7
y     9
z    11
dtype: int64

In [100]:
seri6["b":]

b     3
c     5
x     7
y     9
z    11
dtype: int64

In [101]:
seri6[:4]

a    1
b    3
c    5
x    7
dtype: int64

In [102]:
seri6[:"y"]                        # label indexing de baştan "y" index e kadar hepsini ve "y" index i alıyor
                                   # label index te start,stop olmuyor. stop ta dahil

a    1
b    3
c    5
x    7
y    9
dtype: int64

In [ ]:
# index yada label index leri verilenleri slicing ile dilimleme

In [103]:
seri6

a     1
b     3
c     5
x     7
y     9
z    11
dtype: int64

In [104]:
seri6[[1,3,2]]                  # secmece index değerlerdeki değerler slicing ile dilimlenecekse dikkat edilmesi gereken 
                                # ikinci bir [] içinde liste olarak verilmeli. aralarında virgül olmalı.

b    3
x    7
c    5
dtype: int64

In [105]:
seri6[["c","x","a"]]

c    5
x    7
a    1
dtype: int64

# pd.Series ler arasında işlemler

In [106]:
seri71=pd.Series([1,2,3,4,5,6], index=["usa","germany","canada","franse","uk","spain"])
seri72=pd.Series([11,22,33,44,55,66], index=["usa","germany","mexico","franse","uk","spain"])

In [107]:
seri71

usa        1
germany    2
canada     3
franse     4
uk         5
spain      6
dtype: int64

In [108]:
seri72

usa        11
germany    22
mexico     33
franse     44
uk         55
spain      66
dtype: int64

In [109]:
seri70=seri71+seri72

In [110]:
seri70                        # index değerleri aynı olanları toplar , farklı index değerde olanları nan olarak yazar
                              # canada ve mexico label index değerleri her iki pd.Series ta olmadıgından nan yazıldı

canada      NaN
franse     48.0
germany    24.0
mexico      NaN
spain      72.0
uk         60.0
usa        12.0
dtype: float64

In [111]:
seri70.index

Index(['canada', 'franse', 'germany', 'mexico', 'spain', 'uk', 'usa'], dtype='object')

In [112]:
seri70.values

array([nan, 48., 24., nan, 72., 60., 12.])

In [113]:
seri70.items

<bound method Series.items of canada      NaN
franse     48.0
germany    24.0
mexico      NaN
spain      72.0
uk         60.0
usa        12.0
dtype: float64>

In [116]:
for index,values in seri70.items():
    print(index,values)

canada nan
franse 48.0
germany 24.0
mexico nan
spain 72.0
uk 60.0
usa 12.0

In [117]:
for index,values in seri70.items():
    seri70[index]=values*10
print(seri70)

canada       NaN
franse     480.0
germany    240.0
mexico       NaN
spain      720.0
uk         600.0
usa        120.0
dtype: float64

In [119]:
seri70

canada       NaN
franse     480.0
germany    240.0
mexico       NaN
spain      720.0
uk         600.0
usa        120.0
dtype: float64

In [120]:
seri77=pd.Series(seri70.values,index=seri70.index)

In [121]:
seri77

canada       NaN
franse     480.0
germany    240.0
mexico       NaN
spain      720.0
uk         600.0
usa        120.0
dtype: float64

In [122]:
seri77/10                               # pd.Series herhangi bir sayıya bolunur

canada      NaN
franse     48.0
germany    24.0
mexico      NaN
spain      72.0
uk         60.0
usa        12.0
dtype: float64

In [123]:
seri77

canada       NaN
franse     480.0
germany    240.0
mexico       NaN
spain      720.0
uk         600.0
usa        120.0
dtype: float64

In [124]:
seri77=seri77-100                                 # cıkarma işlemi

In [125]:
seri77

canada       NaN
franse     380.0
germany    140.0
mexico       NaN
spain      620.0
uk         500.0
usa         20.0
dtype: float64

In [126]:
seri77>300                                 # pd.Series içerisindeki values ların 300 den büyüklük durumunu True/False 
                                           # olarak dondurur

canada     False
franse      True
germany    False
mexico     False
spain       True
uk          True
usa        False
dtype: bool

In [127]:
seri77[seri77>300]                         # koşulu sağlayanları slicing yapar filtreler

franse    380.0
spain     620.0
uk        500.0
dtype: float64

In [128]:
seri77[seri77>300]=10000                    # koşulu sağlayanları istenen değere eşitledik

In [129]:
seri77

canada         NaN
franse     10000.0
germany      140.0
mexico         NaN
spain      10000.0
uk         10000.0
usa           20.0
dtype: float64

In [130]:
seri77["uk"]="birleşik krallık"

In [131]:
seri77

canada                  NaN
franse              10000.0
germany               140.0
mexico                  NaN
spain               10000.0
uk         birleşik krallık
usa                    20.0
dtype: object

In [132]:
seri77>100                             # pd.Series in values değerlerinde string ifade oldugundan dtype i object oldu
                                       # koşul kontrolu yapamıyor hata veriyor

TypeError: '>' not supported between instances of 'str' and 'int'

In [ ]:
# bir değerin pd.Series içerisinde olup olmadığının sorgulanması

In [133]:
seri8=pd.Series([11,np.nan,33,44,np.nan,66], index=["usa","germany","mexico","franse","uk","spain"])

In [134]:
seri8

usa        11.0
germany     NaN
mexico     33.0
franse     44.0
uk          NaN
spain      66.0
dtype: float64

In [135]:
"usa" in seri8                      # label index lerde sorgulama

True

In [136]:
"germany" in seri8.index            # label index lerde sorgulama

True

In [137]:
11 in seri8                         # label index lerde sorgulama

False

In [138]:
11 in seri8.values                  # values larda sorgulama

True

In [139]:
66 in seri8.values                  # values larda sorgulama

True

In [140]:
"usa" in seri8.values               # values larda sorgulama

C:\Users\honor\AppData\Local\Temp\ipykernel_9568\2837610177.py:1: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  "usa" in seri8.values               # values larda sorgulama

False

# hasnans

In [141]:
seri8.hasnans                       # values larda nan varmı onu sorgular

True

# isna()

In [142]:
seri8.isna()                        # values larda her bir index için nan varmı sorgular True/False dondurur

usa        False
germany     True
mexico     False
franse     False
uk          True
spain      False
dtype: bool

In [143]:
seri8[seri8.isna()]                 # nan olanları slicing ile filtreleme

germany   NaN
uk        NaN
dtype: float64

In [144]:
seri8[seri8.isna()==False]          # nan olmayanları slicing ile filtreleme

usa       11.0
mexico    33.0
franse    44.0
spain     66.0
dtype: float64

# isin()

In [145]:
seri8.isin([66])                    # values larda her bir index te istenen değer varmı sorgular True/False dondurur
                                    # aranan değer [] içinde yazılır, birden fazla değer aranacaksa , ile ayrılarak yazılır

usa        False
germany    False
mexico     False
franse     False
uk         False
spain       True
dtype: bool

In [146]:
seri8[seri8.isin([66])]

spain    66.0
dtype: float64

In [147]:
seri8[seri8.isin([66])==False]

usa        11.0
germany     NaN
mexico     33.0
franse     44.0
uk          NaN
dtype: float64

# is_unique

In [148]:
seri8.is_unique                  # pd.Series taki tüm elemanlar unique mi onu sorgular. benzer elemanlar varsa False

False

# pd.Series a isim verme ve değiştirme

In [149]:
seri88=pd.Series([11,22,33,44,55,66,77], index=["usa","germany","mexico","franse","uk","spain","turkey"], name="countries")

In [150]:
seri88

usa        11
germany    22
mexico     33
franse     44
uk         55
spain      66
turkey     77
Name: countries, dtype: int64

In [151]:
seri88.name="ülkeler"

In [152]:
seri88

usa        11
germany    22
mexico     33
franse     44
uk         55
spain      66
turkey     77
Name: ülkeler, dtype: int64

# pd.Series teki bir values değeri değiştirme

In [153]:
seri9=pd.Series([11,22,33,44,55,66,77], index=["usa","germany","mexico","franse","uk","spain","turkey"])

In [154]:
seri9

usa        11
germany    22
mexico     33
franse     44
uk         55
spain      66
turkey     77
dtype: int64

In [155]:
seri9["germany"]=99999

In [156]:
seri9

usa           11
germany    99999
mexico        33
franse        44
uk            55
spain         66
turkey        77
dtype: int64

In [157]:
seri9["spain"]="ispanya"               # values lardan biri string tipte olunca pd.Series in dtype i object oldu buna dikkat

In [158]:
seri9

usa             11
germany      99999
mexico          33
franse          44
uk              55
spain      ispanya
turkey          77
dtype: object

In [159]:
seri9*3

usa                           33
germany                   299997
mexico                        99
franse                       132
uk                           165
spain      ispanyaispanyaispanya
turkey                       231
dtype: object

In [160]:
seri9+50                          # values lardan biri string olunca toplama işlemi hata verir

TypeError: can only concatenate str (not "int") to str

# astype()

In [ ]:
# pd.Series tipini değiştirme

In [161]:
seri10=pd.Series([11,12,13,14,15])

In [162]:
seri10

0    11
1    12
2    13
3    14
4    15
dtype: int64

In [163]:
seri10.dtype

dtype('int64')

In [164]:
seri10.astype("int32")

0    11
1    12
2    13
3    14
4    15
dtype: int32

# pop()

In [ ]:
# pd.Series ta eleman siler ve sildiği elemanı döndürür. pd.Series üzerinde kalıcı işlem yapar

In [165]:
seri10

0    11
1    12
2    13
3    14
4    15
dtype: int64

In [166]:
seri10.pop(2)                # 2 index değeri siler. birden fazla değer için hata veriyor

13

In [167]:
seri10

0    11
1    12
3    14
4    15
dtype: int64

# drop()

In [ ]:
# pd.Series tan istenilen elemanları siler ve sonuc olarak kalanları verir.

In [168]:
seri10

0    11
1    12
3    14
4    15
dtype: int64

In [169]:
seri10.drop(labels=[1,3])   # labels= olarak yazılır silinecek indexler.  labels yazmadan [] içinde yazılabilir
                            # indexleri label index leri ilede yazabiliriz. 1 ve 3 index değeri sildi kalanları döndürdü
                            # seri üzerinde kalıcı işlem yapmaz. kalıcı olması için inplace=True yapılmalı

0    11
4    15
dtype: int64

In [170]:
seri10

0    11
1    12
3    14
4    15
dtype: int64

# drop_duplicates()

In [ ]:
# pd.Series içerisinde birden fazla yazılmış olanları siler kalanı döndürür. pd.Series ta değişiklik yapmaz
# kalıcı işlem için inplace=True

In [171]:
animals_series= pd.Series(['lama', 'cow', 'lama', 'beetle', 'lama', 'hippo'], name='animal')

In [172]:
animals_series

0      lama
1       cow
2      lama
3    beetle
4      lama
5     hippo
Name: animal, dtype: object

In [173]:
animals_series.drop_duplicates()

0      lama
1       cow
3    beetle
5     hippo
Name: animal, dtype: object

In [174]:
animals_series

0      lama
1       cow
2      lama
3    beetle
4      lama
5     hippo
Name: animal, dtype: object

# where

In [ ]:
# koşulu sağlayanları true olanların değerini, sağlamayanları nan döndürür

In [175]:
seri101=pd.Series(range(10))

In [176]:
seri101

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [177]:
seri101.where(seri101>5)

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    6.0
7    7.0
8    8.0
9    9.0
dtype: float64

# mask

In [178]:
seri101

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [179]:
seri101.mask(seri101>5)           # koşulu sağlayanları maskeledi

0    0.0
1    1.0
2    2.0
3    3.0
4    4.0
5    5.0
6    NaN
7    NaN
8    NaN
9    NaN
dtype: float64

In [180]:
seri101.mask(seri101>5,10)       # koşulu sağlayanları 10 yaparak maskeledi

0     0
1     1
2     2
3     3
4     4
5     5
6    10
7    10
8    10
9    10
dtype: int64

# dropna

In [ ]:
# nan olanları düşürür ve kalanları döndürür, kalıcı değişiklik olmaz

In [181]:
seri102=pd.Series([3,5,np.nan,9,np.nan])

In [182]:
seri102

0    3.0
1    5.0
2    NaN
3    9.0
4    NaN
dtype: float64

In [183]:
seri102.dropna()

0    3.0
1    5.0
3    9.0
dtype: float64

In [184]:
seri102                              # kalıcı değişiklik olmadı. kalıcı değişiklik için inplace=True kullanılır

0    3.0
1    5.0
2    NaN
3    9.0
4    NaN
dtype: float64

In [185]:
seri103=pd.Series([3,5,np.nan,9,np.nan])

In [186]:
seri103

0    3.0
1    5.0
2    NaN
3    9.0
4    NaN
dtype: float64

In [187]:
seri103.dropna(inplace=True)

In [188]:
seri103                           # kalıcı değişikli oldu

0    3.0
1    5.0
3    9.0
dtype: float64

# fillna

In [ ]:
# pd.Series ta nan olanları istenilen ifadeyle değiştirir. değişiklik kalıcı değildir, kalıcı olması için inplace=True kullnılır

In [189]:
seri102

0    3.0
1    5.0
2    NaN
3    9.0
4    NaN
dtype: float64

In [190]:
seri102.fillna(100)

0      3.0
1      5.0
2    100.0
3      9.0
4    100.0
dtype: float64

In [191]:
seri102

0    3.0
1    5.0
2    NaN
3    9.0
4    NaN
dtype: float64

In [192]:
seri102.fillna(50,inplace=True)        # kalıcı değişiklik oldu

In [193]:
seri102

0     3.0
1     5.0
2    50.0
3     9.0
4    50.0
dtype: float64

# value_counts

In [ ]:
# pd.Series ta herbir values kacar adet bunu döndürür. nan ları saymaz, dropna=False ile nan larda döndürülür

In [194]:
seri104=pd.Series([1,3,4,2,1,4,5,np.nan,1,np.nan])

In [195]:
seri104

0    1.0
1    3.0
2    4.0
3    2.0
4    1.0
5    4.0
6    5.0
7    NaN
8    1.0
9    NaN
dtype: float64

In [196]:
seri104.value_counts()

1.0    3
4.0    2
3.0    1
2.0    1
5.0    1
dtype: int64

In [197]:
seri104.value_counts(dropna=False)

1.0    3
4.0    2
NaN    2
3.0    1
2.0    1
5.0    1
dtype: int64

# isnull

In [ ]:
# pd.Series te nan ların durumunu True/False döndürür

In [198]:
seri104

0    1.0
1    3.0
2    4.0
3    2.0
4    1.0
5    4.0
6    5.0
7    NaN
8    1.0
9    NaN
dtype: float64

In [199]:
seri104.isnull()

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7     True
8    False
9     True
dtype: bool

In [200]:
seri104.isnull().sum()               # nan ların kac adet oldugunu döndürdü

2

# append

In [ ]:
# 2 pd.Series eklenir. index ve value değerler korunur. ignore_index=True ile indexlerde değişir. kalıcı değişim olmaz

In [201]:
seri105=pd.Series([1,2,3,4,5])
seri106=pd.Series([11,12,13,14,15],index=["a","b","c","d","e"])

In [202]:
seri105.append(seri106)

C:\Users\honor\AppData\Local\Temp\ipykernel_9568\1415598574.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  seri105.append(seri106)

0     1
1     2
2     3
3     4
4     5
a    11
b    12
c    13
d    14
e    15
dtype: int64

In [203]:
seri105.append(seri106, ignore_index=True)               # ignore_index=True ile indexler yeniden belirlenir

C:\Users\honor\AppData\Local\Temp\ipykernel_9568\2682022863.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  seri105.append(seri106, ignore_index=True)               # ignore_index=True ile indexler yeniden belirlenir

0     1
1     2
2     3
3     4
4     5
5    11
6    12
7    13
8    14
9    15
dtype: int64

In [204]:
seri105

0    1
1    2
2    3
3    4
4    5
dtype: int64

# add()

In [ ]:
# add ile 2 pd.Series toplama

In [205]:
a = pd.Series([1, 1, 1, np.nan], index=['a', 'b', 'c', 'd'])
b = pd.Series([1, np.nan, 1, np.nan], index=['a', 'b', 'd', 'e'])

In [206]:
a

a    1.0
b    1.0
c    1.0
d    NaN
dtype: float64

In [207]:
b

a    1.0
b    NaN
d    1.0
e    NaN
dtype: float64

In [208]:
a.add(b)                # aynı index lerin value lerinden biri nan ise sonucu nan döndürür. 
                        # aynı şekilde bir pd.Series ta yer alan index diğerinde yoksa onuda nan döndürür

a    2.0
b    NaN
c    NaN
d    NaN
e    NaN
dtype: float64

In [209]:
a.add(b,fill_value=0)   # nan değerleri 0 yapar. 0 yerine başka değer girilirse onu yapar
                        # aynı index teki value lerin ikiside nan ise onları değiştirmez

a    2.0
b    1.0
c    1.0
d    1.0
e    NaN
dtype: float64

In [210]:
a.add(b,fill_value=50)

a     2.0
b    51.0
c    51.0
d    51.0
e     NaN
dtype: float64

# apply

In [ ]:
# pd.Series üzerinde fonksiyon çalıştırma

In [211]:
seri111=pd.Series([3,5,8,11])

In [212]:
seri111

0     3
1     5
2     8
3    11
dtype: int64

In [214]:
def bincarp(x):
    return x*1000

In [215]:
seri111.apply(bincarp)

0     3000
1     5000
2     8000
3    11000
dtype: int64

In [216]:
seri112=pd.Series(["elma","armut","kiraz","seftali"])

In [217]:
seri112

0       elma
1      armut
2      kiraz
3    seftali
dtype: object

In [218]:
def buyukharf(x):
    return x.upper()

In [219]:
seri112.apply(buyukharf)

0       ELMA
1      ARMUT
2      KIRAZ
3    SEFTALI
dtype: object

# agg

In [ ]:
# pd.Series ta min,max,sum,mean,median gibi degerleri verir

In [220]:
seri111

0     3
1     5
2     8
3    11
dtype: int64

In [221]:
seri111.agg(["min"])

min    3
dtype: int64

In [222]:
seri111.agg(["min","max","sum","mean","median"])

min        3.00
max       11.00
sum       27.00
mean       6.75
median     6.50
dtype: float64

# transform

In [ ]:
# pd.Series istenilen değerlerden oluşan DataFrame e donusur

In [224]:
seri111

0     3
1     5
2     8
3    11
dtype: int64

In [223]:
seri111.transform([np.sqrt,np.sin,np.cos])

       sqrt       sin       cos
0  1.732051  0.141120 -0.989992
1  2.236068 -0.958924  0.283662
2  2.828427  0.989358 -0.145500
3  3.316625 -0.999990  0.004426

# describe

In [ ]:
# pd.Series ile ilgili istatiksel bilgileri verir

In [225]:
seri111.describe()

count     4.00
mean      6.75
std       3.50
min       3.00
25%       4.50
50%       6.50
75%       8.75
max      11.00
dtype: float64

# groupby()

In [ ]:
# gruplandırma

In [226]:
seri222 = pd.Series([390., 350., 30., 20.],index=['Falcon', 'Falcon', 'Parrot', 'Parrot'], name="Max Speed")

In [227]:
seri222

Falcon    390.0
Falcon    350.0
Parrot     30.0
Parrot     20.0
Name: Max Speed, dtype: float64

In [228]:
seri222.groupby(level=0).mean()      # level=0 index değerlerin tutulduğu sütun. label index değerlere göre yani falcon 
                                     # ve parrot olarak gruplandırdı ve her grubun ortalamasını verdi

Falcon    370.0
Parrot     25.0
Name: Max Speed, dtype: float64

In [229]:
seri222.groupby(seri222>360).mean()   # burada 360 dan buyuk olma durumuna gore gruplandırdı ve ortalamalarını aldı.
                                      # buyuk olanları true kucuk olanları false olarak gruplandırdı

Max Speed
False    133.333333
True     390.000000
Name: Max Speed, dtype: float64

# pd.Series da tarihsel değerler üretmek

In [230]:
tarihler=pd.date_range("20220101", periods=10)

In [231]:
tarihler                      # sonuc kısmı incelersek freq="D" day sıklıkta bir sonuc cıkardı. gün gün ilerledi. freq değer
                              # girilmezse "D" olarak alır. bunu değiştirerek farklı zaman dilimlerine bağlı olarak oluşur

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08',
               '2022-01-09', '2022-01-10'],
              dtype='datetime64[ns]', freq='D')

In [232]:
pd.Series(tarihler)

0   2022-01-01
1   2022-01-02
2   2022-01-03
3   2022-01-04
4   2022-01-05
5   2022-01-06
6   2022-01-07
7   2022-01-08
8   2022-01-09
9   2022-01-10
dtype: datetime64[ns]

In [233]:
tarihler1=pd.date_range("20220101", periods=10, freq="W")

In [234]:
pd.Series(tarihler1)

0   2022-01-02
1   2022-01-09
2   2022-01-16
3   2022-01-23
4   2022-01-30
5   2022-02-06
6   2022-02-13
7   2022-02-20
8   2022-02-27
9   2022-03-06
dtype: datetime64[ns]

In [235]:
tarihler2=pd.date_range("20220101", periods=10, freq="M")

In [236]:
pd.Series(tarihler2)

0   2022-01-31
1   2022-02-28
2   2022-03-31
3   2022-04-30
4   2022-05-31
5   2022-06-30
6   2022-07-31
7   2022-08-31
8   2022-09-30
9   2022-10-31
dtype: datetime64[ns]

In [237]:
tarihler3=pd.date_range("20220101", periods=10, freq="3M")

In [238]:
pd.Series(tarihler3)

0   2022-01-31
1   2022-04-30
2   2022-07-31
3   2022-10-31
4   2023-01-31
5   2023-04-30
6   2023-07-31
7   2023-10-31
8   2024-01-31
9   2024-04-30
dtype: datetime64[ns]